<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:rel="stylesheet" th:href="@{/style.css}" type="text/css"/>
    <title>Cadastro de Clientes - PCars Project</title>
</head>

<body>
<header>
    <h1>Cadastro de Clientes</h1>
</header>

<nav>
    <ul>
        <li><a th:href="@{/}">Página Inicial</a></li>
    </ul>
</nav>

<main>
    <form th:action="@{/gravarCliente}" th:object="${cliente}" method="post">
        <p>Nome: <input type="text" th:field="${cliente.nome}"/></p>
        <p>CPF: <input type="text" th:field="${cliente.cpf}"/></p>
        <p>CNH: <input type="text" th:field="${cliente.cnh}"/></p>
        <p>Telefone: <input type="text" th:field="${cliente.telefone}"/></p>
        <p><input type="submit" value="Cadastrar"/></p>
    </form>
</main>

<footer>
    <p>&copy; 2023 PCars Project. Todos os direitos reservados.</p>
</footer>

<script th:src="@{/cadastroClientes.js}"></script>
</body>

</html>