<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:rel="stylesheet" th:href="@{/style.css}" type="text/css"/>
    <title>Cadastro de Veículos - PCars Project</title>
</head>

<body>
<header>
    <h1>Cadastro de Veículos</h1>
</header>

<nav>
    <ul>
        <li><a th:href="@{/}">Página Inicial</a></li>
    </ul>
</nav>

<main>
    <form th:action="@{/gravarVeiculo}" th:object="${veiculo}" method="post">
        <p>Modelo: <input type="text" th:field="${veiculo.modelo}"/></p>
        <p>Placa: <input type="text" th:field="${veiculo.placa}"/></p>
        <p>Marca: <input type="text" th:field="${veiculo.marca}"/></p>
        <p>Valor: <input type="text" th:field="${veiculo.valor}"/></p>
        <p><input type="submit" value="Cadastrar"/></p>
    </form>
</main>

<footer>
    <p>&copy; 2023 PCars Project. Todos os direitos reservados.</p>
</footer>

<script th:src="@{/cadastroVeiculos.js}"></script>
</body>

</html>