<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link th:rel="stylesheet" th:href="@{/style.css}" type="text/css"/>
  <title>PCars Project</title>
</head>

<div class="banner">
  <img th:src="@{/images/PCars1.png}">
  <header>
    <h1>PCars Project</h1>
  </header>
</div>

<nav>
  <ul>
    <li><a th:href="@{/cadastro-clientes}">Cadastro de Clientes</a></li>
    <li><a th:href="@{/cadastro-veiculos}">Cadastro de Veículos</a></li>
    <li><a th:href="@{/registro-vendas}">Registro de Vendas</a></li>
    <li><a th:href="@{/lista}">Listas</a></li>
  </ul>
</nav>

<footer>
  <p>&copy; 2023 PCars Project. Todos os direitos reservados.</p>
</footer>





</body>

</html>
