<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link th:rel="stylesheet" th:href="@{/style.css}" type="text/css"/>
  <title>Registro de Vendas - PCars Project</title>
</head>

<body>
<header>
  <h1>Registro de Vendas</h1>
</header>

<nav>
  <ul>
    <li><a th:href="@{/}">Página Inicial</a></li>
  </ul>
</nav>

<main>
  <form  th:action="@{/gravarVenda}" th:object="${venda}" method="post">
    <p>Nome do Cliente: <input type="text" th:field="${venda.nomeCliente}"/></p>
    <p>Veículo: <input type="text" th:field="${venda.veiculoVendido}"/></p>
    <p>Valor: <input type="text" th:field="${venda.valor}"/></p>
    <p>Nº de Parcelas: <input type="text" th:field="${venda.parcelas}"/></p>

    <p><input type="submit" value="Cadastrar"/></p>
  </form>
</main>

<footer>
  <p>&copy; 2023 PCars Project. Todos os direitos reservados.</p>
</footer>

<script th:src="@{/registroVendas.js}"></script>
</body>

</html>